@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 8px 8px 0px 0px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border-color: #383b58b8;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover {
  border-color: #383b58b8;
  border-radius: 14px;
}

.image-gallery-thumbnail {
  width: 150px !important;
  border-radius: 14px;
}

.image-gallery-thumbnails {
  padding: 10px !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 10px;
  height: 94.64px;
  object-fit: cover;
}

.image-gallery-bullets .image-gallery-bullet:focus {
  transform: scale(1.2);
  background: #383b58 !important;
  border: 1px solid #383b58 !important;
}

.image-gallery-bullets .image-gallery-bullet.active:hover {
  background: #383b58 !important;
}

.image-gallery-bullets .image-gallery-bullet:hover {
  background: #383b58 !important;
  border: 1px solid #383b58 !important;
}

.image-gallery-icon:hover {
  color: #1dbeb4 !important;
}

.image-gallery-index {
  background: none !important;
  bottom: 15px !important;
  right: 15px !important;
  font-size: 16px;
  top: auto !important;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  height: 512px;
  object-fit: cover;
}

.image-gallery {
  width: 100%;
}

@media screen and (max-width: 1278px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    border-radius: 0px;
  }
}

@media screen and (max-width: 706px) {
  .image-gallery-slide .image-gallery-image {
    height: 236px;
  }
}
